@media screen and (max-width: 768px) {
  body {
    transition: ease-in-out 1s;
  }
  .our-friends_768 {
    display: block;
    background: #f6f6f6;
  }

  .our-friends_1280,
  .slider_320 {
    display: none;
  }

  .wrapper {
    padding: 0 4.4rem;
  }
  .wrapper_padding_disabled {
    padding: 0 3rem;
  }
  .menu {
    padding-left: 4rem;
  }
  .logo__subtitle {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  .main section:not(.not-only) {
    padding: 7rem 5rem 0 5rem;
  }
  .list__item:not(:last-child) {
    padding-right: 3.6rem;
  }

  .list__link_active {
    padding-bottom: 0;
  }
  .slider {
    padding: 4rem 0 0;
  }

  .our-friends_1280 .wrapper {
    padding: 0 4.4rem;
  }

  .slider-wrap__btn {
    margin-top: 1.1rem;
    margin-bottom: 7.7rem;
  }

  .footer-box {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2.9rem 0 0 0;
  }

  .footer__adress,
  .footer__contact {
    padding-top: 0;
  }

  .footer__adress {
    padding-right: 0.9rem;
    margin-right: 0;
  }

  .footer__img {
    padding-top: 5.6rem;
  }
  .slider-box {
    justify-content: space-between;
  }

  .slider-item:nth-child(3) {
    margin-left: 0;
  }
}

@media screen and (max-width: 726px) {
  .slider-box {
    justify-content: center;
  }
}
