@media screen and (max-width: 1280px) {
  .not-only,
  .about,
  .help,
  .donation,
  .our-friends {
    display: none;
  }

  .header {
    position: static;
    padding: 3rem 0;
  }

  .logo__title,
  .logo__subtitle,
  .list__link {
    color: #545454;
  }

  .list__link:first-child {
    border: none;
  }

  .list__link_active_1280 {
    border-bottom: 2px solid #f1cdb3;
  }

  .slider {
    padding-bottom: 0;
  }

  .our-friends_1280 {
    background: #f6f6f6;
  }

  .slider-box {
    max-width: none;
    flex-wrap: wrap;
    padding: 0;
  }

  .slider-item {
    justify-content: flex-start;
    margin-bottom: 3rem;
    background: #fafafa;
  }

  .slider__item_padding {
    margin-right: 0;
    margin-left: 0;
  }

  .slider-item__title {
    padding: 3.1rem 0;
  }

  .slider-wrap__btn {
    display: flex;
    margin-top: 3.1rem;
  }

  .slider_btn_act:not(:last-child) {
    margin-right: 2rem;
  }

  .btn_pagination {
    width: 5.2rem;
    height: 5.2rem;
  }

  .slider_btn_act {
    width: 5.2rem;
    height: 5.2rem;
    background: #f6f6f6;
  }

  .slider_btn_act[disabled] {
    border: 2px solid #cdcdcd;
    color: #cdcdcd;
  }

  .footer-box {
    padding-top: 3.5rem;
  }
}
