@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

body {
  width: 100vw;
  // font-family: 'Roboto', sans-serif;
  // font-size: 14px;
  // line-height: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  min-width: 75rem;
  justify-content: space-between;
  position: absolute;
  top: 60px;
}

.header {
  width: 100vw;
}

.menu {
  width: 443px;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.1rem;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin: 0;
  // padding: 0;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #fff;
  font-family: Arial;
  font-size: 0.9375rem;
  letter-spacing: 160%;
  font-weight: 400;
}

.list__link_active {
  border-bottom: 3px solid #f1cdb3;
}

.list__link_disabled {
  color: #cdcdcd;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  padding-top: 180px;
  background: ;
}

.hero__content {
  display: flex;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

content-section__title {
  min-width: 19.375rem;
  color: ;
  font-family: Georgia;
  font-size: 2.75rem;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 2.625rem;
  color: ;
  font-family: Arial;
  line-height: 160%;
}

.content-section__subtitle {
}
// h2,
// h3 {
//   font-weight: bold;
//   text-transform: uppercase;
// }

// h2 {
//   color: #fff;
//   margin-left: 7px;
//   font-size: 62px;
//   line-height: 75px;
//   text-transform: uppercase;
//   letter-spacing: 5.5px;
// }

// h3 {
//   color: #373737;
//   font-size: 24px;
//   line-height: 28px;
//   letter-spacing: 1px;
// }

// p {
//   font-size: 14px;
//   line-height: 149%;
//   color: #4e4e4e;
// }

// a {
//   text-decoration: none;
//   color: #fff;
// }

// .btn {
//   display: inline-block;
//   color: #fff;
//   padding: 15px 47px;
//   background: #00afdb;
//   text-transform: uppercase;
//   font-weight: bold;
//   transition: ease-in-out 0.7s;
// }
