@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
}

.header {
  width: 100vw;
  position: absolute;
  top: 60px;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 75rem;
  justify-content: space-between;
}

.menu {
  width: 443px;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.1rem;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #fff;
  font-family: Arial;
  font-size: 0.9375rem;
  letter-spacing: 160%;
  font-weight: 400;
}

.list__link_active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
}

.list__link_disabled {
  color: #cdcdcd;
}

.main {
  display: flex;
  flex-direction: column;
  background: url(/shelter/assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 11rem;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  width: 460px;
}

.content-section {
  display: flex;
  flex-direction: column;
  padding-top: 167px;
}

.content-section__title {
  min-width: 19.375rem;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.75rem;
  line-height: 130%;
  font-weight: 400;
}

.content-section__subtitle {
  margin-top: 2.625rem;
  color: #cdcdcd;
  font-family: Arial;
  line-height: 160%;
  font-size: 15px;
}

.content-section__button {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  margin-top: 41px;
  font-size: 17px;
  border: none;
  letter-spacing: 0.06em;
}
