@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
}

body {
  width: 100vw;
  font-family: Georgia;
}

button {
  border-radius: 100px;
  border: none;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  font-size: 17px;
}

.our-friends__box *,
.help *,
.donation-content * {
  letter-spacing: 0.06em;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

.wrapper:not(.wrapper__padding-disabled) {
  padding: 80px 0 100px;
}

.header {
  width: 100vw;
  position: absolute;
  top: 60px;
}

.header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 443px;
  display: flex;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
}

.logo__subtitle {
  margin-top: 10px;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 110%;
  letter-spacing: 0.1em;
  text-align: center;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  color: #fff;
  font-family: Arial;
  font-size: 0.9375rem;
  letter-spacing: 160%;
}

.list__link_active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
}

.list__link_disabled {
  color: #cdcdcd;
}

.main {
  width: 100vw;
}
.not-only {
  display: flex;
  flex-direction: column;
  background: url(/shelter/assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 11.25rem;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero__content {
  display: flex;
}

.content-section {
  display: flex;
  flex-direction: column;
  padding-top: 164px;
}

.content-section__title {
  min-width: 19.375rem;
  color: #ffffff;
  font-family: Georgia;
  font-size: 2.75rem;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 2.625rem;
  color: #cdcdcd;
  font-family: Arial;
  line-height: 160%;
  font-size: 15px;
}

.content-section__button {
  width: 207px;
  height: 52px;
  margin-top: 41px;
  font-size: 17px;
  background: #f1cdb3;

  border: none;
  letter-spacing: 0.06em;
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  margin: 0 auto;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
}

.about-content__title {
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.about-content__text {
  font-family: Arial;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.our-friends {
  height: 877px;
  background: #f6f6f6;
}

.our-friends__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pets-content {
  width: 400px;
  height: 90px;
  text-align: center;
  font-weight: normal;
}

.pets-content__title {
  font-family: Georgia;
  font-size: 35px;
  font-weight: normal;
  line-height: 130%;
  color: #545454;
}

.slider,
.slider-box,
.slider-item,
.help-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider {
  width: 100%;
}
.slider-box {
  width: 990px;
  height: 435px;
  margin: 60px 0;
}

.slider-item {
  flex-direction: column;
  justify-content: space-evenly;
  width: 270px;
  height: 435px;

  background: #fafafa;
  border-radius: 9px;
}

.slider-item__title {
  font-family: Georgia;
  font-weight: normal;
  font-size: 20px;
  color: #545454;
}

.slider-item__btn {
  color: #292929;
  border: 2px solid #f1cdb3;
}

.slider__btn_act {
  padding: 24px;
  border: 2px solid #f1cdb3;
  background: url(./assets/icon/arrow.svg) no-repeat center;
}

.slider__btn_next {
  transform: rotate(180deg);
}

.slider-item__btn_all {
  background: #f1cdb3;
}

.help-box {
  width: 100%;
  text-align: center;
}

.help__title {
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.help__item_img {
  width: 60px;
  height: 60px;
}

.help-list {
  display: flex;
  margin-top: 60px;
  height: 281px;
}

.help-list__item {
  flex-direction: column;
  height: 113px;
}

.donation {
  background: #f6f6f6;
}

.donation .wrapper {
  justify-content: center;
}
.donation-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 915px;
  height: 282px;
}

.donation-content {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.donation-content {
}

.donation__title {
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.donation__subtitile {
  font-size: 15px;
}

.icon-credit-card {
  height: 26px;
}

.donation__card_btn {
  width: 349px;
  height: 43px;
  padding: initial;
  background: #f1cdb3;
  border-radius: 9px;
}

.donation-btn__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-number {
  font-size: 20px;
  line-height: 115%;
}

.donation__text {
  font-family: Arial;
  font-style: italic;
  font-size: 11px;
  line-height: 18px;
  color: #b2b2b2;
}

.contact__icon {
  width: 40px;
  height: 26px;
}
