* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  transition: background-image 1s ease-in-out;
  background-size: cover;
}

.btn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url('https://www.pngarts.com/files/7/Update-Button-PNG-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin-right: 6rem;
}

.btn:hover {
  filter: grayscale(0.8);
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1.02);
}

.time {
  font-size: 5rem;
}

.name {
  min-width: 210px;
  display: inline-block;
}

.quote {
  background: #eee;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 8px 40px;
  box-shadow: 2px 0 19px #e69393a6;
}

.quote figcaption,
.quote blockquote {
  margin: 10px 20px;
}

.quote figcaption {
  text-align: right;
}

span,
h2,
h3,
.date,
.temperature,
.time,
.humidity,
.wind {
  text-shadow: 3px 0 2px red;
  color: white;
}
.humidity,
.wind {
  margin: 10px 0;
}
.btn,
.btn-quote {
  min-width: 60px;
  min-height: 60px;
  border: 0;
  border-radius: 50%;
  background-image: url('https://www.pngarts.com/files/7/Update-Button-PNG-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(0.8);
  margin: 10px;
}

.btn {
}

.btn-quote {
  background-image: none;
  background-image: none;
  border: 1px solid red;
  filter: none;
  border-radius: 7px;
  font-size: 20px;
  width: 140px;
  align-self: flex-end;
  min-height: 30px;
}

.btn-quote:hover {
  cursor: pointer;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
.btn-quote:focus {
  outline: none;
}
.btn:hover {
  filter: grayscale(0.2);
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1.02);
}

.city {
  width: 300px;
  padding: 10px 0;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #171010a3;
  color: white;
}
.temperature {
  font-size: 40px;
  margin-bottom: 20px;
}
.weather-description {
  width: 300px;
  margin: 0 auto;
  font-size: 20px;
  padding: 12px 0;
  color: #ffffff;
  background-color: #44aadd;
  border-radius: 5px;
}
.weather-icon {
  font-size: 160px;
  color: #44aadd;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}
/* .name {
  background: transparent;
  border: none;
  font-size: 24px;
}

.name::placeholder {
  color: black;
} */

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 4rem;
  }
}
