.box-shadow.full-screen__active {
  position: fixed;
  width: 96%;
  height: 83%;
  background: #838fa0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 8%;
  left: 2%;
  z-index: 1;
  border: none;
  box-shadow: 0 0 11px #4ea091;
}

.box-shadow.full-screen__active::before {
  content: '';
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 101vh;
  background: rgba(0, 0, 0, 0.5);
}

.full-screen__btn {
  cursor: pointer;
  width: 24px;
  position: absolute;
  top: -9px;
  right: -13px;
  background: white;
  border-radius: 6px;
}

.full-screen__btn-relative {
  position: relative;
}
