.footer {
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px red solid;
  box-shadow: 7px 4px 20px #b9a4a4;
  width: 100%;
  height: 60px;
  margin-top: 30px;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 30px;
  }

  &__inner {
    font-family: cursive;
  }

  .social-list {
    display: flex;
    transition: all 0.3s;

    &__item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      &:hover {
        transition: all 0.3s;
        transform: scale(1.1);
      }

      & .rsschool-logo {
        width: 72px;
      }
      &-img {
        width: 40px;
      }
    }
  }
}
