.body {
  font-family: cursive;
  height: 100vh;
  transition: all 0.5s ease-in;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.page {
  display: flex;
  height: 100%;
}

.menu {
  position: absolute;
  left: -391px;
  background: url(./assets/back-image/cartao-de-natal-para-dedicacao-do-feliz-papai-noel_20187-387.jpg);
  background-repeat: no-repeat;
  font-family: cursive;
  height: 628px;
  transition: all 0.5s ease-in;
  width: 628px;
  display: flex;
  align-self: center;
  align-items: center;
  /* background-position: -391px center; */
}

.menu-list {
  margin-left: 117px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0.8;
  font-size: 23px;
  width: 204px;
}

.menu-item {
  transition: all 0.3s ease-in;
}

.menu-item:hover {
  cursor: pointer;
  transform: scale(1.2);
  font-weight: 600;
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* .pause {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
  margin-right: 14px;
  color: red;
  border-radius: 50%;
}

.pause:hover {  
  transition: all 0.2s ease-in;
  transform: scale(1.2);
  cursor: pointer;
} */

.restart-game {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
  border-radius: 50%;
}

.restart-game:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.637);
}

.pause {
  /* background: url(./assets/pause3.png); */
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
  margin-right: 14px;
  border-radius: 50%;
}

.pause:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.2);
  cursor: pointer;
}
/* 
.restart-game {
  font-size: 15px;
  outline: none;
  box-shadow: 2px 2px 5px 0 black;
  background: none;
  border-radius: 13px;
  margin-right: 10px;
  border: none;
  font-style: italic;
  font-family: inherit;
  padding: 10px;
}

.restart-game:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 0 rgb(74 21 169);
} */

.header {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: auto;
  width: 412px;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin: 0 auto;
  /* margin-left: 601px; */
  align-self: center;
  transition: all 0.3s ease-in;
}

.content-box__scale {
  transform: scale(0.5);
  transition: all 0.3s ease-in;
  opacity: 0.3;
  z-index: -1;
}

.info {
  margin-right: 26px;
  box-shadow: 0 0 48px 1px #fffafadb;
  border-radius: 8px;
  padding: 8px;
  width: 96px;
}

.moves {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.counter {
  font-size: 22px;
  color: black;
  text-shadow: 1px 1px 2px #f70000de;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  position: relative;
  width: 400px;
  height: 400px;

  border-radius: 10px;
  background-color: rgb(65 203 226);
  box-shadow: 0 0 23px 0px;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  display: grid;
  transition: all 0.5s ease-in;
}

.field > *:first-child {
  grid-column: 1 / 1;
}

.field-item {
  box-sizing: border-box;
  /* width: 100px;
  height: 100px; */
  border: 3px solid rgb(232 232 232 / 50%);
  border-radius: 17px;
  position: absolute;
  font-size: 50px;
  color: #f70909bd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  box-shadow: inset 0 0 18px #272626;
  cursor: pointer;
  opacity: 0.7;
}

.control-wrap {
  display: flex;
  margin-bottom: 20px;
}

.screen-container {
  margin: 20px 0;
}

.game-name {
  text-align: center;
  color: #ffffff;
  letter-spacing: 1rem;
}

.field-item:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  box-shadow: inset 0 0 23px #000000;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  display: grid;
  transition: all 0.5s ease-in;
  position: relative;
  margin: auto;
  max-width: 420px;
  grid-gap: 2px;
  background: #8ed790;
  padding: 2px;
  border: 1px solid #444;
}

.game-board > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.chip {
  border: 1px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: rgb(228, 228, 228);
  user-select: none;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .field {
    margin-right: 30px;
  }
  .header {
    margin-right: 30px;
  }

  .body {
    background-position: -192px center;
    background-size: 308px 308px;
  }
}
